{% autoescape false %}
  <div class="fitImg coverImg">
    {% if masterClass == 'project' %}
      <a href="{{options.baseurl}}{{projectId}}/index.html">
        <img src="{{options.baseurl}}data/projects/{{projectId}}/back.jpg"/>
      </a>
      <h2 class="coverTitle">{{projectData.opts.name}}</h2>
      <a href="{{options.baseurl}}">
        <div class="backBtn"></div>
      </a>
    {% endif %}
    {% if masterClass == 'product' %}
      <a href="{{options.baseurl}}products/{{projectId}}.html">
        <img src="{{options.baseurl}}data/categories/{{projectData.opts.category}}.jpg" alt="{{projectData.opts.category}}"/>
      </a>
      <h2 class="coverTitle">{{projectData.opts.name}}</h2>
      <a href="{{options.baseurl}}">
        <div id="backBtn"></div>
      </a>
    {% endif %}
  </div>

  <div class="homeTitle">
    <a href="{{options.baseurl}}index.html" class="title">
      <h1 class="title">{{data.opts.name}}</h1>
    </a>
    <div class="homeDesc">{{data.opts.subtitle}}</div>
  </div>
  <div class="kingDiv">
    <div class="kingTip kingTip-1">{{data.opts.kingTips.tip1}}</div>
    <div class="kingTip kingTip-2">{{data.opts.kingTips.tip2}}</div>
    <div class="kingTip kingTip-3">{{data.opts.kingTips.tip3}}</div>
    <a href="{{options.baseurl}}index.html">
      <div class="king topking kingwalk-1"></div>
    </a>
  </div>
{% endautoescape %}
