{% autoescape false %}
<!doctype html>
<html class="no-js" lang="sk">
Content-Security-Policy-Report-Only: default-src https: 'unsafe-inline' 'unsafe-eval'; report-uri {{options.baseurl}}/admin/https://panakrala.report-uri.com/r/d/csp/wizard

<head>
    {{head}}
</head>
<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- Add your site or application content here -->
    <div id="wrapper" class="{{masterClass}}">
        <div id="header">
        </div>
        <div id="topMenu" class="topnav">
            {{menu}}
        </div>
        <div id="cover">
            {{cover}}
        </div>
        <div id="content" class="flexRow">
          {{content}}
        </div>
        <div id="footer">{{footer}}</div>
    </div>
  {{scripts}}
</body>
</html>
{% endautoescape %}
